@import '../../styles/base';
.recover-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}
.recover-input-container{
    width: 967px;
    height: 422px;
    position: relative;
    background-color: $color-beige;
}
.recover-input-container:before{
	content: "";	
    position: absolute;	
    width: 967px;	
    height: 422px;	
    top: -60px;	
    left: -60px;	
    z-index: -3;	
    background-color: $color-blue;
}
.recover-input-container:after{
    content: "";	
    position: absolute;	
    width: 967px;	
    height: 100px;	
    top: 320px;	
    z-index: -1;	
    background-color: $color-beige;
    box-shadow: 10px 10px 15px -8px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 15px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 15px -8px rgba(0,0,0,0.75);
}
.title-container{
    padding: 0px 50px 0px 50px;
}
.input-container-recover{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: $font-inter-regular;
}