@import '../../styles/base';

.container-buttons{
    margin-top: 30px !important;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
img{
    width: 600px;
}
.button-filled-dark-blue{
    background-color: $color-blue;
    border: none;
    color: $color-beige;
    font-size: 16px;
    font-weight: bold;
    width: 250px
}
.button-filled-light-blue{
    background-color: $color-blue-light;
    border: none;
    color: $color-blue;
    font-size: 16px;
    font-weight: bold;
    width: 250px
}
.our-services-container{
    margin: 50px;
}
.MuiButtonBase-root{
    width: 360px;
    align-items: baseline !important;
}
.MuiAccordionSummary-root{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 !important;
}
.MuiAccordionSummary-content{
    color: $color-blue !important;
    font-size: 16px;
    font-family: $font-inter-regular !important;
    text-decoration: underline;
}
.MuiAccordionDetails-root{
    color: $color-blue !important;
    font-family: $font-inter-regular !important;
}
.MuiPaper-root{
    background: $color-beige !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.MuiBox-root{
    padding: 0 !important;
}
.MuiButtonBase-root.MuiTab-root.Mui-selected{
    color : $color-blue !important;
    font-weight: bold;
}
.MuiTabs-indicator{
    background-color: $color-yellow !important
}
.MuiFab-root{
    box-shadow: none !important;
    background-color: $color-beige !important;
}