@import '../../styles/base';

.container-buttons{
    margin-top: 30px !important;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
img{
    width: 600px;
}
.button-filled-dark-blue{
    background-color: $color-blue;
    border: none;
    color: $color-beige;
    font-size: 16px;
    font-weight: bold;
    width: 250px
}
.button-filled-light-blue{
    background-color: $color-blue-light;
    border: none;
    color: $color-blue;
    font-size: 16px;
    font-weight: bold;
    width: 250px
}
.our-services-container, .our-locations{
    margin: 50px;
}
.MuiButtonBase-root{
    width: 360px !important;
    align-items: baseline !important;
}
.MuiAccordionSummary-root{
    width: 100% !important;
    display: flex;
    align-items: center;
    padding: 0 !important;
}
.MuiAccordionSummary-content{
    color: $color-blue !important;
    font-size: 16px;
    font-family: $font-inter-regular !important;
    text-decoration: underline;
}
.MuiAccordionDetails-root{
    color: $color-blue !important;
    font-family: $font-inter-regular !important;
}
.MuiPaper-root{
    background: $color-beige !important;
    box-shadow: none !important;
    padding: 0 !important;
}
.MuiBox-root{
    padding: 0 !important;
}
.MuiButtonBase-root.MuiTab-root.Mui-selected{
    color : $color-blue !important;
    font-weight: bold;
}
.MuiTabs-indicator{
    background-color: $color-yellow !important
}
.MuiFab-root{
    box-shadow: none !important;
    background-color: $color-beige !important;
}
.introduction{
    margin: 20px 0;
}
.price-card{
    width: 295px;
    height: 105px;
    background-color: $color-blue-light;
    position: relative;
    border-radius: 15px;
    display: flex;
    align-items: flex-end;
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
}
.price-card-container{
    height: 70%;
    background:$color-beige;
    width: 100%;
    border-radius: 15px;
    padding: 5px 5px 0px 10px;
    font-size: 12px;
    font-weight: bold;
}
.maps-image{
    width: 150px;
}
.grid-container-maps{
    width: 50% !important;
}
.grid-container-maps-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 30px;
}
.link-maps{
    padding: 0;
    text-align: center;
    margin-top: 20px;
}