@import '../../styles/base';


body{
    background: $color-beige;
    font-family: $font-inter-regular;
    color: $color-blue;
}
label{
    display: block;
}
input{
    display: block;
}
button{
    display: block;
}
select{
    width: 510px !important;
    height: 50px !important;
    padding: 5px;
    color: $color-blue;
}
.input-mail,.input-password{
    width: 500px;
    height: 40px;
    border: 2px solid $color-blue;
    border-radius: 5px;
    background: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
}
.button-enter{
    width: 510px;
    height: 40px;
    background-color: $color-blue-light;
    color: $color-blue;
    font-weight: bold;
    border: 2px solid $color-blue-light;
    border-radius: 5px;
}
.Container-forgot-password{
    width: 500px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    a{
        padding: 0;
    }
}
.MuiAlert-action{
    padding: 0 !important;
    margin: 0 !important;
}
.MuiAlert-root{
    padding: 10px !important;
    align-items: center;
}
.MuiButtonBase-root {
    width: 50px;
}
.img-inicio{
    width: 300px;
}
.button-enter{
    width: 510px;
    height: 50px;
}
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-container{
    display: flex;
    justify-content: center;
}